<!-- navigation start -->
<section id="sticker" class="nav-block">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="nav-logo"><a class="font-title" href="{{ path('homepage') }}#banner">Laia&Samuel</a></h1>
                    </div>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- Collect the nav toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('homepage') }}#couple">Couple</a></li>
                            <li><a href="{{ path('homepage') }}#story">Notre Histoire</a></li>
                            <li><a href="{{ path('homepage') }}#people">Invités d'honneur</a></li>
                            <li><a href="{{ path('homepage') }}#event">Blog</a></li>
                            <li><a href="{{ path('homepage') }}#gallery">Gallerie</a></li>
                            <li><a href="{{ path('homepage') }}#contact">Réservations</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('wedding_edit') }}">Administration</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
                <div class="col-sm-2 mobile-pos">
                    <ul class="social-icon pull-right">
                        <li><a href="{{ wedding.facebook }}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ wedding.instagram }}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- /.social-icon end -->
                </div>
            </div>
        </div><!-- /.container -->
    </nav>
</section>
<!-- navigation end -->