<!-- couple start -->
<section id="couple" class="couple">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>{{ "couple_presentation_title" | trans }}</h3>
                    <p>{{ "couple_presentation_desc" | trans }}</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 love-bg">
                <div class="row">
                    {% for user in users %}
                    {% if loop.first %}
                    <div class="col-sm-5">
                        <div class="thumbnail-block-content wow animated fadeInLeft">
                            {% else %}
                            <div class="col-sm-offset-2 col-sm-5">
                                <div class="thumbnail-block-content wow animated fadeInRight">
                                    {% endif %}
                                    <div class="thumb-img-content couple-content">
                                        <img class="img-responsive couple-img" src={{ asset(img_url~user.image) }} alt="Groom">
                                        <h5>{{ user.firstname ~ ' ' ~user.lastname }}</h5>
                                    </div>
                                    <!-- /.thumb-img -->
                                    <div class="thumbnail-detail">
                                        {{ user.longDescription }}
                                        <ul class="social-icon">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                        <!-- /.social-icon end -->
                                    </div>
                                    <!-- /.thumbnail-detail -->
                                </div>
                                <!-- /.thumbnail-block-->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.love-bg end -->
                </div>
                <div id="next-arrow" class="next-arrow">
                    <a href="#story" class="animated infinite rocket"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- couple end -->