
<!-- event start -->
<section id="event" class="event lightsmoke">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Blog & Events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br> nunc, non scelerisque ligula. Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            {% for article in articles %}
                <div class="col-sm-6 col-md-4 sm-margin-bottom">
                    <div class="blog-post wow animated fadeInUp" data-wow-delay="0s" data-wow-duration="1s">
                        <div class="blog-head">
                            <div class="blog-meta">
                                <ul>
                                    <li>{{ article.user.firstname }} </li>
                                    <li>{{ article.date|date("m/d") }}</li>
                                    <li>
                                        <a href={{ path('blog_index', {id:article.id}) }}>
                                            {{ article.comments|length }} commentaire(s)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.blog-meta -->
                            <h5><a href={{ path('blog_index', {id:article.id}) }}>{{ article.title }}</a></h5>
                        </div>
                        <div class="blog-thumb event-img">
                            <img class="img-responsive blog-img" src={{ asset('uploads/pictures/'~article.pictures.0.image) }}  alt="Blog image">
                            <div class="blog-thumb-hover">
                                <p>{{ article.description }}</p>
                            </div>
                        </div>
                        <!-- /.blog-thumb -->
                        <a class="blog-link" href={{ path('blog_index', {id:article.id}) }}><i class="fa fa-picture-o"></i><i class="fa fa-link"></i></a>
                    </div>
                    <!-- /.blog-post -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- event end -->