<!-- gallery start -->
<section id="gallery" class="gallery lightsmoke">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Photo Gallery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br> nunc, non scelerisque ligula. Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="photo-gallery" class="photo-gallery">
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_01.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_01.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_02.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_02.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_03.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_03.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_04.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_04.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_05.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_05.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_06.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_06.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_07.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_07.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                    <div class="item">
                        <img src={{ asset('images/gallery/gallery_thumb_08.jpg') }} alt="gallery image">
                        <a href="images/gallery/gallery_image_08.jpg" class="caption gallery-popup">
                            <h5>Happy Moment</h5>
                            <span class="img_category">Engagement</span>
                        </a>
                    </div>
                </div>
                <!-- /.photo-gallery end -->
            </div>
        </div>
    </div>
</section>
<!-- gallery end -->