{% extends "::base.html.twig" %}
{% block body %}
    {% include "header.html.twig" %}
    <section class="blog-bg">
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="blog-title">
                            <h3>Liste des invités</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet
                                pharetra
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>
    <section class="blog-content">
        <div class="container">
            <div class="row">
                {% for user in couple %}
                    {% if (user.role.role == 'groom') %}
                        <div class="col-sm-6 left-content">
                            <div class="row wow animated fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                                <div class="col-sm-8">
                                    <div class="profile">
                                        <h5>{{ user.firstname ~' '~user.lastname }}
                                            <small>{{ user.role.role }}</small>
                                        </h5>
                                        <p>{{ user.longDescription }}</p>
                                        <ul class="social-icon">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                        <!-- /.social-icon end -->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="people-thumb-img">
                                        <img class="img-responsive"
                                             src={{ asset(img_url~user.image) }} alt="MaidOfHonor">
                                    </div>
                                    <!-- /.people-thumb-img -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if (user.role.role == 'bride') %}
                        <div class="col-sm-6 right-content">
                            <div class="row wow animated fadeInRight" data-wow-delay="0s" data-wow-duration="1s">
                                <div class="col-sm-4">
                                    <div class="people-thumb-img">
                                        <img class="img-responsive"
                                             src={{ asset(img_url~user.image) }} alt="BestMan">
                                    </div>
                                    <!-- /.people-thumb-img -->
                                </div>
                                <div class="col-sm-8">
                                    <div class="profile">
                                        <h5>{{ user.firstname ~' '~user.lastname }}
                                            <small>{{ user.role.role }}</small>
                                        </h5>
                                        <p>{{ user.longDescription }}</p>
                                        <ul class="social-icon">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                        <!-- /.social-icon end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="contact-block">
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-striped table-condensed">
                                    <tr class="info">
                                        <th>Nom</th>
                                        <th>Nombre</th>
                                    </tr>
                                    {% for guest in list %}
                                        {% if guest.user.role.role == 'groom' %}
                                            <tr>
                                                <td>{{ guest.name }}</td>
                                                <td>{{ guest.guestNumber }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-striped table-condensed">
                                    <tr class="danger">
                                        <th>Nom</th>
                                        <th>Nombre</th>
                                    </tr>
                                    {% for guest in list %}
                                        {% if guest.user.role.role == 'bride' %}
                                            <tr>
                                                <td>{{ guest.name }}</td>
                                                <td>{{ guest.guestNumber }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.contact-block end -->
        </div>
    </section>


{% endblock %}
