{% extends 'base.html.twig' %}

{% block body %}

    <!-- Preloader -->
    <div id="faceoff">
        <ul id="pre-loader">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="preloader-section"></div>
    </div>
    <!-- Preloader end -->

    {{ render(controller('AppBundle:Default:intro')) }}
    {% include "::header.html.twig" %}
    {{ render(controller('AppBundle:Default:couple')) }}
    {{ render(controller('AppBundle:Default:story')) }}
    {{ render(controller('AppBundle:Default:people')) }}
    {{ render(controller('AppBundle:Default:event')) }}

    <section id="quote" class="quote img_background"
             style="background:url({{ asset(img_url~wedding.pictures.1.image) }}) repeat fixed center center;"
    >
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote>
                            {{ text_helper.getWebSiteText('remerciement').description|raw}}
                        </blockquote>
                        <!-- blockquote end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>

    {{ render(controller('AppBundle:Default:gallery')) }}

    <!-- .quote start -->
    <section id="quote" class="quote img_background"
             style="background:url({{ asset(img_url~wedding.pictures.1.image) }}) repeat fixed center center;"
    >
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote>
                            {{ wedding.verse |raw }}
                        </blockquote>
                        <!-- blockquote end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>
    <!-- .quote end -->

    {#{{ render(controller('AppBundle:Default:rsvp', {'request':app.request})) }}#}

    {% include ":default:map.html.twig" %}
{% endblock %}

    {% block javascripts %}
        {% include ":default:mapjs.html.twig" %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script charset="UTF-8">
            $(document).ready(function () {
                $(".textDiv_Days>h4").text('Jours');
                $(".textDiv_Hours>h4").text('Heures');
                $(".textDiv_Seconds>h4").text('Secondes');
            });
            $(function () {
                $("#form_rsvp").submit(function (e) {
                    e.preventDefault();
                    $("#loader").show();
                    name = $("#rsvp_name").val();
                    guestNumber = $("#rsvp_guestNumber").val();
                    message = $("#rsvp_message").val();
                    user = $("#rsvp_user").val();
                    email = $("#rsvp_email").val();
                    $.post(Routing.generate('rsvp'), {
                        name: name,
                        guestNumber: guestNumber,
                        message: message,
                        user: user,
                        email: email
                    }, function (data) {
                        $("#loader").hide();
                        $("#have_sent").show("slow").delay(3000).hide("slow");
                        name.val("");
                        guestNumber.val("");
                        message.val("");
                        email.val("");
                    })
                            .fail(function () {
                                $("#loader").hide();
                                $("#exist").show("slow").delay(3000).hide("slow");
                            });
                });
            });
        </script>
    {% endblock %}
