{% extends 'base.html.twig' %}

{% block body %}

    <!-- Preloader -->
    <div id="faceoff">
        <ul id="pre-loader">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="preloader-section"></div>
    </div>
    <!-- Preloader end -->

    {{ render(controller('AppBundle:Default:intro')) }}
    {% include "::header.html.twig" %}
    {{ render(controller('AppBundle:Default:couple')) }}
    {{ render(controller('AppBundle:Default:story')) }}
    {% include ":default:people.html.twig" %}
    {{ render(controller('AppBundle:Default:event')) }}

    <!-- .rsvpLink start -->
    <section id="rsvpLink" class="rsvpLink">
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="rsvpLink-title">We are missing your present. Don’t be late no more.</span>
                        <a href="#contact" class="btn default-btn">RSVP</a>
                        <a href="#map" class="btn default-btn">MAP</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>
    <!-- .rsvpLink end -->

    {{ render(controller('AppBundle:Default:gallery')) }}

    <!-- .quote start -->
    <section id="quote" class="quote">
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <blockquote>
                            <p>For some people, the point of no return begins at the very <br> moment their souls become
                                aware of each other's existence.</p>
                        </blockquote>
                        <!-- blockquote end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>
    <!-- .quote end -->

    {{ render(controller('AppBundle:Default:rsvp', {'request':app.request})) }}

    {% include ":default:map.html.twig" %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}
