<!-- contact start -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>{{ text_helper.getWebSiteText('reservations').title }}</h3>
                    {{ text_helper.getWebSiteText('reservations').description|raw }}
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 divider">
                <h5>contact info</h5>
                <div class="contact-address">
                    <ul>
                        <li>
                            <i class="fa fa-home"></i>
                            <div class="address-phone">
                                <h4>Adresse</h4>
                                <span>{{ groom.address }}</span>
                                <span>{{ groom.city ~', '~groom.country }}</span>
                            </div>
                            <!-- /.address-phone -->
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <div class="address-phone">
                                <h4>Téléphone</h4>
                                <span>{{ groom.phone }}</span>
                            </div>
                            <!-- /.address-phone -->
                        </li>
                        <li>
                            <i class="fa fa-paper-plane"></i>
                            <div class="address-phone">
                                <h4>email</h4>
                                <span>{{ groom.mail }}</span>
                            </div>
                            <!-- /.address-phone -->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="contact-block">
                    <h5>Confirmez votre présence à la cérémonie</h5>
                    {{ form_start(form, { 'attr': {'id': 'form_rsvp'} }) }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.guestNumber) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.user) }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit , { 'attr': {'class': 'btn default-btn btn-block'} }) }}
                    </div>
                    <div id="loader">
                        <img src="{{ asset('images/ajax-loader.gif') }}" alt="loader"/>
                    </div>
                    <div id="have_sent" class="alert alert-success" role="alert">Merci! Votre inscription a bien été
                        enregistrée.
                    </div>
                    <div id="exist" class="alert alert-danger" role="alert">Votre nom/email a déjà été enregistré
                    </div>
                    <div class="text-center">
                        <a href={{ path('guestlist') }}>Voir la liste des invités</a>
                    </div>
                    {{ form_end(form) }}
                </div>

                <!-- /.contact-block end -->
            </div>
        </div>
    </div>
</section>
