<!-- story start -->
<section id="story" class="story lightsmoke">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Notre Histoire</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br>nunc,  non scelerisque ligula.
                        Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="timeline-story">
                    {% for story in stories %}
                    <div class="timeline">
                        <span class="love-sign wow animated pulse">{{ date_helper.frenchDate(story.date).year }}</span>
                        {% if loop.index is even %}
                        <div class="timeline-left reverse pull-left">
                            {% else %}
                            <div class="timeline-left pull-left">
                            {% endif %}
                            <div class="timeline-block-left">
 								    	<span class="timeline-meta">
                                            {{ date_helper.frenchDate(story.date).fulldate }}
	 										{#{{ story.date|date }}#}
	 									</span>
                                <div class="timeline-thumbnail wow animated fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                                    <img class="img-thumbnail story-img" src={{ asset(img_url~story.image) }} alt="Love Story">
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-left -->
                        {% if loop.index is odd %}
                        <div class="timeline-right  pull-right">
                            {% else %}
                            <div class="timeline-right reverse pull-right">
                                {% endif %}
                            <div class="timeline-block-right wow animated fadeInRight" data-wow-delay="0s" data-wow-duration="1s">
                                <div class="timeline-head">
                                    <h4>{{ story.title }}</h4>
                                </div>
                                <div class="timeline-body">
                                    {{ story.description }}
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-right -->
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                    <!-- /.timeline end -->
                </div>
                <!-- /.timeline-story -->
            </div>

        </div>
    </div>
</section>
<!-- story end -->