{% extends 'base.html.twig' %}

{% block body %}
    <!-- gallery start -->
    <section id="gallery" class="gallery lightsmoke">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="heading wow animated fadeInUp">
                        <h3>{{ text_helper.getWebSiteText('gallerie-photo').title }}</h3>
                        {{ text_helper.getWebSiteText('gallerie-photo').description|raw }}
                    </div>
                    <!-- /.heading end -->
                </div>
            </div>
            <div class="color-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href={{ path('wedding_picture', {folder:'mairie'}) }} class="btn default-btn">Mairie</a>
                            <a href={{ path('wedding_picture', {folder:'espagne'}) }} class="btn default-btn">Espagne -
                            Fabrice H.</a>
                            <a href={{ path('wedding_picture', {folder:'jp'}) }} class="btn default-btn">'Espagne -
                            JP</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.color-overlay end -->
            <div class="ajax-load">
                {% include ":default/partials:picture.html.twig" %}
            </div>
        </div>
    </section>
    <!-- gallery end -->
{% endblock %}

{% block javascripts %}
    <script charset="UTF-8">
        $(document).ready(function () {
            var $sticker = $('#sticker').outerHeight();
            var isBottom = false;

            // Each time the user scrolls
            $(window).scroll(function () {
                var $footerOffsetTop = $('[data-footer]').offset().top;
                var $this = $(this);

                if ($this.scrollTop() + $this.height() > $footerOffsetTop) {
                    if (true === isBottom) return;
                    isBottom = true;
                    console.log('fdfsdfs');
                    //remettre a false dans le success de la requete ajax
                }
            });
        });
    </script>
{% endblock %}
