{% extends 'base.html.twig' %}

{% block body %}
    <!-- gallery start -->
    <section id="gallery" class="gallery lightsmoke">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="heading wow animated fadeInUp">
                        <h3>{{ text_helper.getWebSiteText('gallerie-photo').title }}</h3>
                        {{ text_helper.getWebSiteText('gallerie-photo').description|raw }}
                    </div>
                    <!-- /.heading end -->
                </div>
            </div>
            <div class="color-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href={{ path('wedding_picture', {folder:'mairie'}) }} class="btn default-btn">Mairie</a>
                            <a href={{ path('wedding_picture', {folder:'espagne'}) }} class="btn default-btn">Espagne -
                            Fabrice H.</a>
                            <a href={{ path('wedding_picture', {folder:'jp'}) }} class="btn default-btn">'Espagne -
                            JP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loader">
                <img src="{{ asset('images/ajax-loader.gif') }}" alt="loader"/>
            </div>
            <!-- /.color-overlay end -->
            <div class="row">
                <div id="photo-gallery" class="photo-gallery" folder="{{ folder }}">
                    {% include ":default/partials:picture.html.twig" %}
                    <div class="container ajax-load">
                    </div>
                </div>
                <!-- /.photo-gallery end -->
            </div>
        </div>
    </section>
    <!-- gallery end -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script charset="UTF-8">
        $(document).ready(function () {
            var $sticker = $('#sticker').outerHeight();
            var isBottom = false;
            var offset = $('.first').attr("offset");
            var limit = $('.last').attr("limit");
            var folder = $('#photo-gallery').attr("folder");

            var $grid = $('#photo-gallery');

            // Each time the user scrolls
            $(window).scroll(function () {
                var $footerOffsetTop = $('[data-footer]').offset().top;
                var $this = $(this);

                if ($this.scrollTop() + $this.height() > $footerOffsetTop) {
                    if (true === isBottom) return;
                    isBottom = true;
                    console.log(offset + '-' + limit + '-' + folder);
                    $("#loader").show();
                    offset = parseInt(offset) + 12;
                    limit = parseInt(limit) + 12;


                    $.ajax({
                        method: "POST",
                        url: Routing.generate('ajax_load_picture'),
                        dataType: 'html',
                        data: {offset: offset, folder: folder, limit: limit}
                    })
                            .done(function (data) {
                                isBottom = false;
                                $("#loader").hide();

                                $grid.append(data);
                            })
                            .fail(function () {
                                isBottom = false;
                                $("#loader").hide();
                                console.log('fail');
                            });

                }
            });
        });
    </script>
{% endblock %}
