{% extends "::base.html.twig" %}

{% block body %}
    <section class="blog-bg">
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="blog-title">
                            <h3>{{ 'Ajouter du text'|trans }}</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet
                                pharetra
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>

    <section class="blog-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="contact-block">
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-6">
                                {{ form_errors(form) }}
                                {{ form_start(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <!-- /.contact-block end -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Edition de text</h3>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-6">
                <table class="table">
                    <tr>
                        <th>titre</th>
                        <th>Description</th>
                        <th>Slug</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for text in texts %}
                        <tr>
                            <td>{{ text.title }}</td>
                            <td>{{ text.description }}</td>
                            <td>{{ text.slug }}</td>
                            <td><a href={{ path('text_edit', {'id': role.id}) }}>
                                    <button>remove</button>
                                </a></td>
                            <td><a href={{ path('text_delete', {'id': role.id}) }}>
                                    <button>remove</button>
                                </a></td>
                        </tr>
                    {% endfor %}
                </table>
                {{ form(form) }}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src={{ asset("js/addpicture.js") }}></script>

{% endblock %}
