{% extends 'base.html.twig' %}

{% block body %}

<section class="blog-bg">
    <div class="color-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="blog-title">
                        <h3>Single Blog Post</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet
                            pharetra
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.color-overlay end -->
</section>
<!-- /.blog-bg end -->

<!-- blog content start -->
<section class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="single-blog-content">
                    <div class="single-blog-image">
                        <img class="img-responsive" src={{ asset('uploads/pictures/'~article.pictures.0.image) }} alt="blog image">
                    </div>
                    <!-- /.single-blog-image -->
                    <div class="single-blog-meta">
                        <ul>
                            <li><i class="fa fa-clock-o"></i>{{ article.date|date }}</li>
                            {#<li><i class="fa fa-folder-open"></i> Party / Wedding</li>#}
                            {#<li><i class="fa fa-tag"></i> Groom,Maid,Best man</li>#}
                        </ul>
                    </div>
                    <!-- /.single-blog-meta -->
                    <div class="single-blog-detail">
                        <div class="single-blog-upper">
                            <h3>{{ article.title }}</h3>
                            <p>{{ article.description }}</p>
                        </div>
                        <!-- /.single-blog-lower -->
                        <blockquote>
                            {{ article.verse }}
                        </blockquote>
                        <!-- blockquote end -->
                        <div class="single-blog-lower">
                            <ul class="single-post-item">
                                <li><i class="fa fa-check"></i>Duis aute irure reprehenderit in voluptate velit esse</li>
                            </ul>
                            <!-- /.single-post-item -->
                            <h4>SOME WONDERFUL MOMENT</h4>
                            <ul class="single-post-thumnail">
                                {% for picture in article.pictures %}
                                    {% if loop.index != 1 %}
                                        <li><a class="gallery-popup" href={{ asset('uploads/pictures/'~picture.image) }}><img class="img-thumbnail img-responsive" src={{ asset('uploads/pictures/'~picture.image) }} alt="image"></a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.single-blog-lower -->
                    </div>
                    <!-- /.single-blog-detail -->
                    <div class="social-block">
                        <span>Share</span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                    <div class="comment-block">
                        <h5>COMMENTS</h5>
                        <ul id="myList" class="media-list">
                            {% for comment in article.comments %}
                            <li class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{ comment.name }}<small>{{ comment.date|date }}</small></h4>
                                    <p>{{ comment.message }}</p>
                                </div>
                            </li>

                            {% endfor %}
                            <div id="loadMore">Load more</div>
                            <div id="showLess">Show less</div>
                        </ul>
                    </div>
                    <!-- /.comment-block -->
                    <div class="reply-block">
                        <h5>LEAVE A REPLY</h5>
                        <div class="contact">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.name, {'attr': {'placeholder': 'Your name'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.email, {'attr': {'placeholder': 'Your email'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ form_row(form.message, {'attr': {'placeholder': 'Write your message'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                        <div class="form-group">
                                            {{ form_row(form.submit, {'attr': {'class': 'btn default-btn'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="contact-success">Your Message has been Successfully Sent!</p>
                                        <p class="contact-error">Error! Something went wrong!</p>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>

                    </div>
                    <!-- /.reply-block end -->
                </div>
                <!-- /.single-blog-content end -->
            </div>
            <div class="col-sm-3">
                <sidebar>
                    <div class="sidebar-single-post">
                        <div class="sidebar-single-post-img">
                            <img class="img-responsive" src={{ asset('uploads/pictures/'~article.user.image) }} alt="Single post image">
                        </div>
                        <!-- /.sidebar-single-post-img -->
                        <div class="sidebar-single-post-detail">
                            <h5>{{ article.user.firstname ~ ' ' ~ article.user.lastname  }}</h5>
                            <p>{{ article.user.shortDescription }}</p>
                        </div>
                    </div>
                    <!-- /.sidebar-single-post -->
                    <div class="popular-post">
                        <h5>POPULAR POST</h5>
                        <ul>
                            {% for article in articles %}
                            <li>
                                <div class="popular-img">
                                    <img class="img-responsive" src={{ asset('uploads/pictures/'~article.pictures.0.image) }} alt="post image">
                                    {#<img class="img-responsive" src={{ asset('uploads/pictures/0d7257aaf3983be7860ec2c4c92feb3e.jpg') }}" alt="post image">#}
                                </div>
                                <p class="margin">{{ article.title }}<span> {{ article.date|date }} </span> </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="wedding-video">
                        <h5>WEDDING VIDEO</h5>
                        <p>Odio dignissimos ducimus qui bldiesentium voluptatum delenitiatque corrupti d et quas prodent, similique sunt in culpa.</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/105381943?color=0c9bdf" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </sidebar>
                <!-- sidebar end here -->
            </div>
        </div>
    </div>
</section>
<!-- /.blog content end -->

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            "use strict";
            $('.gallery-popup').magnificPopup({
                type:'image',
                closeBtnInside:true,
                // Delay in milliseconds before popup is removed
                removalDelay: 300,

                // Class that is added to popup wrapper and background
                // make it unique to apply your CSS animations just to this exact popup
                //mainClass: 'mfp-fade',
                gallery: {
                    enabled: true, // set to true to enable gallery

                    preload: [0,2], // read about this option in next Lazy-loading section

                    navigateByImgClick: true,

                    arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button

                    closeMarkup: '<button title="%title%" class="mfp-close"><i class="mfp-close-icn">&times;</i></button>',

                    tPrev: 'Previous (Left arrow key)', // title for left button
                    tNext: 'Next (Right arrow key)', // title for right button
                    //tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
                }
            });

            $('#myList li:lt(3)').show();
            $('#showLess').hide();
            var items =  25;
            var shown =  3;
            $('#loadMore').click(function () {
                $('#showLess').show();
                shown = $('#myList li:visible').size()+5;
                if(shown< items) {$('#myList li:lt('+shown+')').show();}
                else {$('#myList li:lt('+items+')').show();
                    $('#loadMore').hide();
                }
            });
            $('#showLess').click(function () {
                $('#myList li').not(':lt(3)').hide();
            });

        });


    </script>
{% endblock %}
