{% extends "::base.html.twig" %}

{% block body %}
    <section class="blog-bg">
        <div class="color-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="blog-title">
                            <h3>{{ 'Ajouter un article'|trans }}</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet
                                pharetra
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.color-overlay end -->
    </section>
    <section class="blog-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    {% for picture in form.vars.value.pictures %}
                        <img class="img-responsive img_bo_blog" src={{ asset('uploads/pictures/'~picture.image) }}>
                    {% endfor %}
                </div>
                <div class="col-sm-9">
                    <div class="contact-block">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-6">
                                {{ form_errors(form) }}
                                {{ form_start(form) }}
                                {{ form_row(form.pictures) }}
                                <a href="#" id="add_picture">Add a picture</a>
                                {#{% if form.vars.value.pictures is not null %}#}
                                {#<img class="img-responsive" src={{ asset('uploads/pictures/'~form.vars.value.image) }}>#}
                                {#{% endif %}#}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <!-- /.contact-block end -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src={{ asset("js/addpicture.js") }}></script>

{% endblock %}
