{#<div class="row">#}
    {#<div id="photo-gallery" class="photo-gallery" folder="{{ folder }}">#}
        {% for picture in gallery %}
        {% if loop.first %}
        <div class="item first" offset="{{ loop.index }}">
            {% elseif loop.last %}
            <div class="item last" limit="{{ loop.index }}">
                {% else %}
                <div class="item">
                    {% endif %}
                <img src={{ asset(img_wedding_url~folder~'/'~picture.image) }} | imagine_filter('my_thumb')
                }} alt="gallery
                image">
                <a href={{ asset(img_wedding_url~folder~'/'~picture.image) }} class="caption gallery-popup">
                <h5>{{ picture.title }}</h5>
                <span class="img_category">{{ picture.description }}</span>
                </a>
            </div>
        {% endfor %}
    {#</div>#}
    {#<!-- /.photo-gallery end -->#}
{#</div>#}